/*------------------------------------
    Buttons
------------------------------------*/
.btn {
    border-radius: 7px;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.btn .btn-with-spinner {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn.btn-dark {
    -webkit-box-shadow: 0 2px 6px #728394;
    box-shadow: 0 2px 6px #728394;
}

.btn.btn-primary, .btn.btn-outline-primary {
    border: 1px solid #007bff;
}

.btn.btn-secondary, .btn.btn-outline-secondary {
    border: 1px solid #6c757d;
}

.btn.btn-success, .btn.btn-outline-success {
    border: 1px solid #28a745;
}

.btn.btn-danger, .btn.btn-outline-danger {
    border: 1px solid #dc3545;
}

.btn.btn-warning, .btn.btn-outline-warning {
    border: 1px solid #ffc107;
}

.btn.btn-info, .btn.btn-outline-info {
    border: 1px solid #17a2b8;
}

.btn.btn-light, .btn.btn-outline-light {
    border: 1px solid #f8f9fa;
}

.btn.btn-dark, .btn.btn-outline-dark {
    border: 1px solid #343a40;
}

.btn:focus {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}