<html lang="fa" dir="rtl">
<head>
    <partial name="Partials/_MetaTags" />
    <title>@ViewData["Title"]</title>
    <partial name="Partials/_Styles" />
    @await RenderSectionAsync("Styles", false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @await Component.InvokeAsync("AdminSideBarComponent")
            @await Component.InvokeAsync("HeaderComponent")
            @RenderBody()
        </div>
    </div>
    <partial name="Partials/_LockScreen" />
    <partial name="Partials/_Scripts" />
    @await RenderSectionAsync("Scripts", false)
    <div class="jqvmap-label d-none"></div><div class="daterangepicker dropdown-menu ltr opensright"><div class="ranges"><ul><li data-range-key="امروز">امروز</li><li data-range-key="دیروز">دیروز</li><li data-range-key="۷ روز قبل">۷ روز قبل</li><li data-range-key="۳۰ روز قبل">۳۰ روز قبل</li><li data-range-key="این ماه">این ماه</li><li data-range-key="ماه قبل">ماه قبل</li><li data-range-key="شخصی شده">شخصی شده</li></ul><div class="range_inputs"><button class="applyBtn btn btn-default btn-small btn-primary" disabled="disabled" type="button">ارسال</button> <button class="cancelBtn btn btn-default btn-small" type="button">پاک کردن</button></div></div><div class="calendar left"><div class="daterangepicker_input"><input class="input-mini form-control" type="text" name="daterangepicker_start" value=""><i class="fa fa-calendar glyphicon glyphicon-calendar"></i><div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div></div><div class="calendar-table"></div></div><div class="calendar right"><div class="daterangepicker_input"><input class="input-mini form-control" type="text" name="daterangepicker_end" value=""><i class="fa fa-calendar glyphicon glyphicon-calendar"></i><div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div></div><div class="calendar-table"></div></div></div>
</body>
</html>