@model ErrorViewModel
@{
    ViewData["Title"] = "مشکلی رخ داد";
}

<h1 class="text-danger">مشکلی رخ داد.</h1>
<h2 class="text-danger">هنگام انجام درخواست شما مشکل غیرمنتظره ای رخ داد.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
