@model SuperMarketManagement.Application.DTOs.User.EditUserDto
@{
    ViewData["Title"] = "ویرایش کاربر" + " " + Model.UserName;
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
<div class="page-title">
    <div class="title_left">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>ویرایش کاربر
                        </h2>
                        <partial name="Partials/_PanelToolBox"/>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        <form asp-controller="User" asp-action="Edit" method="post" id="demo-form2" class="form-horizontal form-label-left">
                            <input type="hidden" asp-for="UserId"/>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">نام
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="UserName" id="name"  class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">آدرس
                                     <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea asp-for="Address" id="address" class="form-control col-md-7 col-xs-12"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-info">ویرایش کاربر</button>
                                    <a asp-controller="User" asp-action="Index" class="btn btn-link">انصراف</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

